<ion-content>
  <div class="header">
    <h1>WashUp App</h1>
  </div>

  <div class="profile-banner">
    <img src="assets/img/profile.jpeg" alt="Profile Image" />
    <div class="profile-details">
      <span class="name">{{ customer?.name }}</span>
      <span class="points">Poin: {{ customer?.points }}</span>
    </div>
  </div>

  <div class="icon-grid">
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="menu-item">
          <img class="menu-icon" src="assets/img/budget.png" alt="Cek Tarif" />
          <p>Cek Tarif</p>
        </ion-col>
        <ion-col size="6" class="menu-item">
          <ion-button (click)="navigateToClaimVoucher()">
            <img
              class="menu-icon"
              src="assets/img/discount.png"
              alt="Claim Voucher"
            />
            <p>Claim Voucher</p>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="transactions-section">
    <h2>Transaksi Berjalan</h2>
    <ion-list>
      <ion-item
        *ngFor="let transaction of transactions"
        class="transaction-item"
      >
        <div class="transaction-table">
          <div class="transaction-row">
            <div class="transaction-cell">ID: {{ transaction.id }}</div>
            <ion-button expand="block" (click)="checkResi(transaction.id)"
              >Tracker</ion-button
            >
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
